* {
    margin: 0;
    padding: 0;
}
main {
    padding: 260px 200px;
    width: auto;
    height: 660px;
    background-color: bisque;
}
.icons {
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}




.fa-facebook {
    position: relative;
    background-color: #fff;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 12px;
    border-radius: 50%;
    margin: 0px 20px;
}
.fa-facebook:hover {
    background-color: blue;
    color: #fff;
}
.fa-facebook .tooltip1 {
    visibility: hidden;
    width: auto;
    background-color: gray;
    color: #fff;
    font-size: 40px;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    z-index: 1;
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    opacity: 0;
    transition: opacity 0.3s;
}
.fa-facebook .tooltip1::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -20px;
    border-width: 15px;
    border-style: solid;
    border-color: gray transparent transparent transparent;
}
.fa-facebook:hover .tooltip1 {
    visibility: visible;
    opacity: 1;
}






.fa-instagram {
    position: relative;
    background-color: #fff;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;
    margin: 0px 20px;
}
.fa-instagram:hover {
    background-color: pink;
    color: #fff;
}
.fa-instagram .tooltip2 {
    visibility: hidden;
    width: auto;
    background-color: gray;
    color: #fff;
    font-size: 40px;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    z-index: 1;
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    opacity: 0;
    transition: opacity 0.3s;
}
.fa-instagram .tooltip2::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -20px;
    border-width: 15px;
    border-style: solid;
    border-color: gray transparent transparent transparent;
}
.fa-instagram:hover .tooltip2 {
    visibility: visible;
    opacity: 1;
}








.fa-twitter {
    position: relative;
    background-color: #fff;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;
    margin: 0px 20px;
}
.fa-twitter:hover {
    background-color: skyblue;
    color: #fff;
}
.fa-twitter .tooltip3 {
    visibility: hidden;
    width: auto;
    background-color: gray;
    color: #fff;
    font-size: 40px;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    z-index: 1;
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.fa-twitter .tooltip3::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -20px;
    border-width: 15px;
    border-style: solid;
    border-color: gray transparent transparent transparent;
}
.fa-twitter:hover .tooltip3 {
    visibility: visible;
    opacity: 1;
}








.fa-github {
    position: relative;
    background-color: #fff;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;
    margin: 0px 20px;
}
.fa-github:hover {
    background-color: darkblue;
    color: #fff;
}
.fa-github .tooltip4 {
    visibility: hidden;
    width: auto;
    background-color: gray;
    color: #fff;
    font-size: 40px;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    z-index: 1;
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.fa-github .tooltip4::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -20px;
    border-width: 15px;
    border-style: solid;
    border-color: gray transparent transparent transparent;
}
.fa-github:hover .tooltip4 {
    visibility: visible;
    opacity: 1;
}








.fa-youtube-play {
    position: relative;
    background-color: #fff;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;
    margin: 0px 20px;
}
.fa-youtube-play:hover {
    background-color: red;
    color: #fff;
}
.fa-youtube-play .tooltip5 {
    visibility: hidden;
    width: 180px;
    background-color: gray;
    color: #fff;
    font-size: 40px;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    z-index: 1;
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-left: -88px;
    opacity: 0;
    transition: opacity 0.3s;
}
.fa-youtube-play .tooltip5::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -20px;
    border-width: 15px;
    border-style: solid;
    border-color: gray transparent transparent transparent;
}
.fa-youtube-play:hover .tooltip5 {
    visibility: visible;
    opacity: 1;
}
